:root {
  --app-width: 1392px;
}

html {
  overflow: hidden;
}

.app {
  scrollbar-gutter: stable both-edges;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.scrollbar-invisible {
  touch-action: none;

  @supports (scrollbar-width: thin) {
    scrollbar-color: transparent transparent;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@supports (height: 100dvh) {
  .app {
    height: 100dvh;
  }
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-color: var(--border-color) transparent;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  * {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--border-shadow-color);
  border: 4px solid var(--current-background-color);
}

*::-webkit-scrollbar-thumb:hover {
  transition: 250ms background-color;
  background-color: var(--border-color);
}